block vars
  -
    array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
    headerMenu = [
      {title: 'О нас', link: '#'},
      {title: 'Решения', link: '#'},
      {title: 'Аналитика', link: '#'},
      {title: 'Партнеры', link: '#'},
      {title: 'Контакты', link: '#'},
      {title: 'Подписка', link: '#'}
    ]
    footerMenuColumn1 = [
      {title: 'Кто мы', link: '#'},
      {title: 'Что мы делаем', link: '#'},
      {title: 'Работы', link: '#'},
      {title: 'Компетенции', link: '#'},
      {title: 'Команда', link: '#'},
      {title: 'Новости', link: '#'},
      {title: 'Партнеры', link: '#'},
      {title: 'Контакты', link: '#'},
    ]
    footerMenuColumn2 = [
      {title: 'Аналитика', link: '#'},
      {title: 'Решения:', link: '#',
      submenu: [
        {title: 'Банки', link: '#'},
        {title: 'Страхование', link: '#'},
        {title: 'Здравоохранение', link: '#'},
        {title: 'Транспорт и логистика', link: '#'},
        {title: 'Государственный сектор', link: '#'},
        {title: 'Ритейл и eCommerce', link: '#'},
        {title: 'Телекомуникации', link: '#'},
      ]
      },
      {title: 'Работы', link: '#'},
      {title: 'Компетенции', link: '#'},
      {title: 'Команда', link: '#'},
      {title: 'Новости', link: '#'},
      {title: 'Партнеры', link: '#'},
      {title: 'Контакты', link: '#'},
    ]    
    newsData = [
      {
        style: 'main',
        columns: 3,
        rows: 2,
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
        link: '#',
        category: {title: 'Здравоохранение', link: '#', style: 3},
        image: 'news1',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: 'Владимир Мищенко',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        link: '#',
        category: {title: 'Страхование', link: '#', style: 2},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
        link: '#',
        category: {title: 'Здравоохранение', link: '#', style: 3},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
        link: '#',
        category: {title: 'Телекоммуникации', link: '#', style: 4},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'video',
        columns: 2,
        rows: 1,
        title: '<span>Digital <br> transformation</span> <br>по-украински',
        link: '#',
        category: '',
        image: 'video-preview',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Юрий Чубатюк',
        digest: false
      },   
      {
        style: 'default',
        columns: 1,
        rows: 2,
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
        description: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
        link: '#',
        category: {title: 'Здравоохранение', link: '#', style: 3},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Пётр Ванькин',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
        link: '#',
        category: {title: 'Транспорт и логистика', link: '#', style: 5},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },                                    
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'BL Bank использует технологии для создания новых источников дохода',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'two_column',
        columns: 2,
        rows: 1,
        title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
        link: '#',
        videoLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
        category: {title: 'Ритейл и eCommerce', link: '#', style: 7},
        image: 'coke',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Пётр Ванькин',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
        link: '#',
        category: {title: 'Ритейл и eCommerce', link: '#', style: 2},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
        link: '#',
        category: {title: 'Страхование', link: '#', style: 2},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      }, 
      {
        style: 'two_column',
        columns: 2,
        rows: 1,
        title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: 'news2',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Пётр Ванькин',
        digest: false
      },
      {
        style: 'title_medium',
        columns: 1,
        rows: 2,
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        link: '#',
        category: {title: 'Ритейл/еCommerce', link: '#', style: 7},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Аполлинарий Космодемьянский',
        digest: false
      }, 
      {
        style: 'title_large',
        columns: 2,
        rows: 2,
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        link: '#',
        category: {title: 'Транспорт и логистика', link: '#', style: 5},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Артём Голоскевич',
        digest: false
      },
      {
        style: 'two_column',
        columns: 2,
        rows: 1,
        title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: 'news3',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Денис Полищук',
        digest: false
      },
      {
        style: 'title_medium',
        columns: 2,
        rows: 1,
        title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
        link: '#',
        category: {title: 'Телекоммуникации', link: '#', style: 4},
        image: '',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: '',
        digest: true
      }, 
      {
        style: 'default',
        columns: 1,
        rows: 2,
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: 'news2',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: ' Артём Голоскевич',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 2,
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: 'news3',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Пётр Ванькин',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 2,
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        link: '#',
        category: {title: 'Транспорт и логистика ', link: '#', style: 5},
        image: 'news4',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Владимир Мищенко',
        digest: false
      },   
      {
        style: 'default',
        columns: 2,
        rows: 1,
        title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
        description: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: '',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: 'Владимир Мищенко',
        digest: false
      },
      {
        style: 'title_medium',
        columns: 2,
        rows: 1,
        title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
        link: '#',
        category: {title: 'Транспорт и логистика ', link: '#', style: 5},
        image: '',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: '',
        digest: true
      },  
      {
        style: 'main',
        columns: 2,
        rows: 2,
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: 'news5',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: 'Артём Голоскевич',
        digest: false
      },   
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоянии',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'title_medium',
        columns: 2,
        rows: 1,
        title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: '',
        date: '00 окт 2020',
        time: '~ 6 мин',
        author: '',
        digest: true
      },  
      
      {
        style: 'default',
        columns: 1,
        rows: 1,
        title: 'Gali Health представила персонального помощника по здоровью – Gali AI',
        link: '#',
        category: {title: 'Здравоохранение', link: '#', style: 3},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: '',
        digest: true
      },
      {
        style: 'default',
        columns: 2,
        rows: 1,
        title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
        description: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
        link: '#',
        category: {title: 'Ритейл и eCommerce ', link: '#', style: 2},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Денис Полищук',
        digest: false
      },
      {
        style: 'default',
        columns: 1,
        rows: 2,
        title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия',
        description: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
        link: '#',
        category: {title: 'Телекоммуникации', link: '#', style: 6},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Пётр Ванькин',
        digest: false
      }, 
      {
        style: 'title_medium',
        columns: 1,
        rows: 2,
        title: 'Goldman Sachs проводит цифровую трансформацию с помощью приложений на базе машинного обучения',
        link: '#',
        category: {title: 'Здравоохранение', link: '#', style: 3},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: ' Аполлинарий Космодемьянский',
        digest: false
      },
      {
        style: 'title_medium',
        columns: 1,
        rows: 2,
        title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
        link: '#',
        category: {title: 'Банки', link: '#', style: 6},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: ' Аполлинарий Космодемьянский',
        digest: false
      },                        
      {
        style: 'default',
        columns: 2,
        rows: 1,
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        description: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        link: '#',
        category: {title: 'Государственный сектор', link: '#', style: 1},
        image: '',
        date: '00 окт 2020',
        time: '~ 1 мин',
        author: 'Владимир Мищенко',
        digest: false
      },                                      
    ]