.news_card {
  position: relative;

  background-color: #f4f4f4;

  @include bp($point_4, min) {
    height: 22rem;
  }
}

.news_card__content {
  ;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 1.2rem;

  .news_card--style_main & {
    position: relative;
    height: auto;
    padding: 2rem;
    z-index: 1;

    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%);
  }

  .news_card--style_video & {
    display: grid;
    align-items: flex-end;
    position: relative;

    height: 100%;
    z-index: 1;

    text-decoration: none;
  }

  .news_card--style_two_column & {
    position: relative;
  }

	@include bp($point_4, min) {
		display: flex;
	}
}

.news_card__inner {
  position: relative;

  height: 100%;
  width: 100%;

  .news_card--style_main & {
    display: flex;
    align-items: flex-end;
  }

  .news_card--style_two_column & {
    @include bp($point_4, min) {
      display: flex;
    }
  }
}

.news_card__top {

  .news_card--size_columns_2 &,
  .news_card--style_title_large & {
    display: flex;
  }

  .news_card--style_two_column & {
    display: block;
  }
}

.news_card__category {
  display: inline-block;
  margin: 0 auto 1rem 0;

  font-size: 1.2rem;
  font-weight: 500;

  .news_card--style_main & {
    padding: 0.3rem 1rem;

    color: #fff;
    transition: opacity 0.3s linear;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    &.news_card__category--color_style1 {
      background-color: #00568a;
    }

    &.news_card__category--color_style2 {
      background-color: #3a2796;
    }

    &.news_card__category--color_style3 {
      background-color: #5496e3;
    }

    &.news_card__category--color_style4 {
      background-color: #af2323;
    }

    &.news_card__category--color_style5 {
      background-color: #f98c30;
    }

    &.news_card__category--color_style6 {
      background-color: #4c7d14;
    }

    &.news_card__category--color_style7 {
      background-color: #c646a3;
    }
  }
}

// category colors
.news_card__category--color_style1 {
  color: #00568a;
}

.news_card__category--color_style2 {
  color: #3a2796;
}

.news_card__category--color_style3 {
  color: #5496e3;
}

.news_card__category--color_style4 {
  color: #af2323;
}

.news_card__category--color_style5 {
  color: #f98c30;
}

.news_card__category--color_style6 {
  color: #4c7d14;
}

.news_card__category--color_style7 {
  color: #c646a3;
}

.news_card__picture {
  position: relative;
  display: block;

  height: 22rem;

  .news_card--style_main &,
  .news_card--style_video & {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  .news_card--style_two_column & {
    flex: 1 0 auto;
    width: 100%;

    @include bp($point_4, min) {
      width: 21.6rem;
    }
  }
}

.news_card__img {
  @extend %cover_img;
}

.video_popup {
  display: block;
  position: relative;

  height: 22rem;
}

.icon_video {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 4.4rem;
  height: 4.4rem;

  border-radius: 100%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 2px 1.4rem rgba($color: #000000, $alpha: 0.43);
  z-index: 1;
}

.news_card__title {
  display: block;
  margin-bottom: 1.5rem;
  overflow: hidden;

  font-size: 1.6rem;
  line-height: 1.2;

  color: $black;
  transition: color 0.3s linear;

  &:hover {
    text-decoration: none;
    color: #000;
  }

  @include bp($point_4, min) {
    max-height: 13.4rem;
  }

  .news_card--style_main & {
    color: #fff;
  }

  .news_card--style_video & {
    height: fit-content;
    margin: 0 0 1rem auto;

    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    span {
      background-color: #fff;
    }

    span * {
      color: #bd243a;
    }

    @include bp($point_4) {
      margin: 0 auto 1rem auto;
      font-size: 2rem;
    }
  }

  .news_card--style_title_medium & {

    @include bp($point_4, min) {
      max-height: 26.5rem;
      font-size: 2.2rem;
      line-height: 2.7rem;
    }
  }

  .news_card--style_title_large & {
    @include bp($point_4, min) {
      max-height: 22rem;
      font-size: 3.6rem;
      line-height: 3.6rem;
    }
  }
}

.news_card__description {
  font-size: 1.2rem;
  margin-bottom: 1rem;

  .news_card--style_main & {
    height: auto;
    color: #fff;
  }
}

.news_card__author {
  display: block;
  margin-bottom: 1rem;

  color: $gray;
  font-size: 1.2rem;

  .news_card--size_columns_2 &,
  .news_card--style_title_large & {
    margin: 0 0 1rem auto;
  }

  .news_card--style_main & {
    color: #fff;
  }

  .news_card--style_video & {
    display: flex;
    align-self: baseline;
    padding: 0.5rem 1rem;

    transform: translateX(-50%);
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;

    @include bp($point_4) {
      transform: none;
    }
  }
}

.news_card__bottom {
  display: flex;
  margin-top: auto;

  color: $gray;
  font-size: 1.2rem;

  .news_card--style_main & {
    left: 2rem;
    right: 2rem;

    color: #fff;
  }
}

.news_card__date {
  margin: 0 auto 0 0;
}

.news_card__label {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;

  width: 7px;
  height: 1.6rem;
}

// card sizes
.news_card--size_columns_2 {
  @include bp($point_4, min) {
    grid-column: auto / span 2;
  }
}

.news_card--size_columns_3 {
  @include bp($point_4, min) {
    grid-column: auto / span 3;
  }
}

.news_card--size_rows_2 {
  @include bp($point_4, min) {
    grid-row: auto / span 2;
    height: 46rem;

    &.news_card--style_default {
      .news_card__picture+.news_card__content {
        height: calc(100% - 22rem);
      }
    }
  }
}

// card styles
.news_card--style_video {
  @include bp($point_4, min) {
    display: flex;
  }
}

.news_card__video_btn {
  position: absolute;
  display: none;
  align-items: center;

  right: 2rem;
  bottom: 1.5rem;

  font-size: 1.2rem;
  color: #fff;

  img {
    margin-left: 0.5rem;
  }

  @include bp($point_4, min) {
    display: flex;
  }
}

.news_card__text_label {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;

  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}